<div class="container">
    <div class="card">
      <div class="row">
        <div class="col-md-3">
          <img src="https://cdn-icons-png.flaticon.com/512/5084/5084666.png" class="img-fluid">
        </div>
        <div class="col-md-8">
          <h3 class="card-title mt-2">Kanban</h3>
          <p>Use the Kanban template to increase planning flexibility, reduce bottlenecks and promote transparency throughout the development cycle.</p>
          <button class="btn btn-primary" (click)="navigateToKanban()">Choose Kanban</button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3">
          <img src="https://th.bing.com/th/id/OIP.B0qs3I6eEq8Z72iwq9PVUwHaHa?rs=1&pid=ImgDetMain" class="img-fluid">
        </div>
        <div class="col-md-8">
          <h3 class="card-title mt-2">Scrum</h3>
          <p>The Scrum template helps teams work together using sprints to break down large, complex projects into bite-sized pieces of value. </p>
          <button class="btn btn-primary">Choose Scrum</button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3">
          <img src="https://th.bing.com/th/id/OIP._3uv6q6aIpy7V4tXUgjzDwHaHa?rs=1&pid=ImgDetMain" class="img-fluid">
        </div>
        <div class="col-md-8">
          <h3 class="card-title mt-2">Bug tracking</h3>
          <p>Capture, track and resolve bugs and issues throughout your entire development process</p>
          <button class="btn btn-primary">Choose Bug Tracking</button>
        </div>
      </div>
    </div>
  </div>
  